ago==0.0.95
aiohttp==3.8.5
aiosignal==1.3.1
APScheduler==3.10.1
async-timeout==4.0.2
attrs==23.1.0
Automat==22.10.0
beautifulsoup4==4.12.2
blinker==1.6.2
boto3==1.28.15
botocore==1.31.15
bs4==0.0.1
cachetools==5.3.1
cchardet==2.1.7
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
constantly==15.1.0
cors==1.0.1
cryptography>=41.0.4
cssselect==1.2.0
Deprecated==1.2.14
dnspython==2.4.2
docopt==0.6.2
dotmap==1.3.30
elastic-transport==8.4.0
elasticsearch==8.9.0
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.12.2
Flask==2.3.2
Flask-Cors==4.0.0
Flask-Limiter==3.5.0
Flask-SQLAlchemy==3.0.5
frozenlist==1.4.0
future==0.18.3
gevent==23.9.1
google-ai-generativelanguage==0.2.0
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-cloud-resource-manager==1.10.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-generativeai==0.1.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
grpc-google-iam-v1==0.12.6
grpcio==1.56.2
grpcio-status==1.56.2
gunicorn==21.2.0
hjson==3.1.0
hurry.filesize==0.9
hyperlink==21.0.0
idna==3.4
importlib-resources==6.0.1
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jieba3k==0.35.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
langdetect==1.0.9
limits==3.6.0
load-dotenv==0.1.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
multidict==6.0.4
news-please==1.5.33
newsapi-python==0.2.7
newspaper3k==0.2.8
nltk==3.8.1
openai==0.27.8
ordered-set==4.1.0
packaging==23.1
parsel==1.8.1
Pillow==10.0.0
pipreqs==0.4.13
plac==1.3.5
Protego==0.2.1
proto-plus==1.22.3
protobuf==4.23.4
psycopg2-binary==2.9.6
py3-validate-email @ git+https://gitea.ksol.io/karolyi/py3-validate-email@32c8f4cdfaba4c7e7fc81405a023c849a9268859
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
Pygments==2.16.1
pymongo==4.5.0
PyMySQL==1.1.0
pyOpenSSL==23.2.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
pytz==2023.3
PyYAML==6.0.1
queuelib==1.6.2
readability-lxml==0.8.1
regex==2023.8.8
requests==2.31.0
requests-file==1.5.1
rich==13.5.3
rsa==4.9
s3transfer==0.6.1
Scrapy==2.9.0
sendgrid==6.10.0
service-identity==23.1.0
sgmllib3k==1.0.0
Shapely==1.8.5.post1
shortuuid==1.0.11
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.19
starkbank-ecdsa==2.2.0
tinysegmenter==0.3
tldextract==3.4.4
tqdm==4.65.0
Twisted==22.10.0
typing_extensions==4.7.1
tzlocal==5.0.1
urllib3==1.26.16
vertexai==0.0.1
w3lib==2.1.2
warcio==1.7.4
Werkzeug==2.3.6
wrapt==1.15.0
yarg==0.1.9
yarl==1.9.2
zope.event==5.0
zope.interface==6.0
